<?xml version="1.0"?>
<config>
    <modules>
         <Creare_Seoheading>
            <version>0.0.1</version>
        </Creare_Seoheading>
    </modules>
    <global>
        <models>
            <seoheading>
                <class>Creare_Seoheading_Model</class>
            </seoheading>
            <catalog>
                <rewrite>
                    <category>Creare_Seoheading_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
		 <resources>
        <seoheading_setup>
            <setup>
                <module>Creare_Seoheading</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </seoheading_setup>
        <seoheading_write>
            <connection>
                <use>core_write</use>
            </connection>
        </seoheading_write>
        <seoheading_read>
            <connection>
                <use>core_read</use>
            </connection>
        </seoheading_read>
    </resources>
   </global>
</config>